.certificates {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1364px) {
    .certificates {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1118px) {
    .certificates {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 908px) {
    .certificates {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 483px) {
    .certificates {
        grid-template-columns: 1fr;
    }
}